<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Otras etiquetas del head... -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
  >

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
  >

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
  >

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
  >

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    
</head>

<style>
  *{
    font-family: 'Poppins', sans-serif;
  }
  .bg_color{
    background-color: #092635;
  }

  .bg_color1{
    background-color: #1B4242;
  }
  .bg_color2{
    background-color: #5C8374;
  }
  .bg_color2:hover{
    background-color: #9EC8B9;
  }
  .bg_color3{
    background-color: #9EC8B9;
  }

  .bg_color4{
    background-color: black;
  }

  .letter_spacing{
    letter-spacing: 3px;
  }
</style>

<!-- <nav class=" mt-5 ml-5">
    <ul>
        <li><a class="bg-red-500 rounded-lg py-2 px-5 text-white" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/create_task">Create task</a></li>
    </ul>
</nav> -->


{% block content %}
{% endblock %}